appnope==0.1.0
click==6.7
decorator==4.0.2
dj-database-url==0.3.0
dj-static==0.0.6
Django==1.8.4
django-toolbelt==0.0.1
gnureadline==6.3.8
gunicorn==19.9.0
ipython==4.0.0
ipython-genutils==0.1.0
newrelic==3.4.0.95
olefile==0.45.1
path.py==8.1.1
pexpect==3.3
pickleshare==0.5
Pillow==4.0.0
psycopg2==2.7.4
python-http-client==3.0.0
qrcode==5.3
redis==2.10.5
requests>=2.20.0
rq==0.7.1
sendgrid==3.6.3
simplegeneric==0.8.1
six==1.11.0
static3==0.6.1
traitlets==4.0.0
whitenoise==2.0.3
